@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #f8fafc;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.gradient-bg {
  background: linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
  );
}

.glass {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
}